<!--<div class="top_call d-flex align-items-center justify-content-center js-notifications-top fixed-top">
  <span class="call_text">reduce - transform - engage</span>
</div>-->

<div class="d-flex flex-md-row justify-content-between align-items-center px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="flex-column">
    <img src="assets/img/logo.png" style="max-height: 90px" alt="logo">
  </div>
  <div class="flex-column">
    <h5 class="my-0 mr-md-auto font-weight-normal">too good to waste</h5>
  </div>
  <div class="flex-column">
    <a class="btn btn-outline-light" mr-2> Login</a>
    <a class="btn btn-outline-light" mr-2> Sign up</a>
    <a class="position-relative">
      <i class="material-icons">shopping_cart</i>
      <div class="cart-no">3</div>
    </a>
  </div>
</div>



